/* Box Model Hack */
* {
    box-sizing: border-box;
  }
  
  /* Clear fix hack */
  .clearfix:after {
       content: ".";
       display: block;
       clear: both;
       visibility: hidden;
       line-height: 0;
       height: 0;
  }
  
  .clear {
      clear: both;
  }
  

* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

/******************************************
/* HEADER / NAVIGATION
/*******************************************/
header {
    background-color: black;
    height: 45px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

nav * {
    float: left;
    width: 10%;
    color: white;
    display: block;
    text-decoration: none;
}

nav ul {
    width: 60%;
    margin-top: 0;
}

nav form input {
    width: 100%;
    margin-top: 10px;
    float: right;
}

nav form {
    float: right; 
    width: 250px;
    padding-right: 20px;
}

nav > a {
    margin-top: 10px;
    font-weight: 600;
}

.logo {
    height: 45px;
    width: 102px;
    padding-right: 20px;
    border-right: 2px solid white;
    margin-left: 20px;
}

.userSignIn {
    height: 40px;
    width: 50px;
    padding-right: 10px;
    margin-left: 20px;
    margin-top: 5px;
}

nav li {
    font-weight: 600;
    border-right: 1px solid white;
    border-left: 1px solid white;
    padding-left: 25px;
    height: 45px;
}

nav li a {
    margin-top: 10px;
}

.workLife {
    padding-left: 15px;
}
/******************************************
/* MAIN SECTION
/*******************************************/
h2 {
    margin-top: 65px;
    float: left;
    width: 80%;
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 15px;
    color: #676767;
}

h4 {
    float: right;
    width: 20%;
    margin-top: 65px;
    color: #8f8f8f;
    font-size: 32px;
    margin-bottom: 15px;
    font-weight: 300;
}

.bigSection {
    background-image: url("https://ichef.bbci.co.uk/news/1024/cpsprodpb/1676D/production/_113931029_composite.jpg.webp");
    background-size: 750px 500px;
    color: white;
}

section h1 {
    font-size: 44px;
    margin-top: 275px;
    margin-bottom: 5px;
    font-weight: 500;
    margin-left: 10px;
}

.bigSecText {
    font-size: 21px;
    margin-top: 0px;
    margin-left: 10px;
    font-weight: 200;
    margin-bottom: 12px;
    width: 675px;
}

.mainRedSpan {
    margin-left: 10px;
    padding-left: 7px;
    border-left: 3px solid #e91901;
}
/******************************************
/* MAIN SIDE SECTION
/*******************************************/
.secNoOne {
    background-image: url("https://ichef.bbci.co.uk/news/1024/cpsprodpb/A500/production/_113904224_arch.jpg.webp");
    background-size: 400px 250px;
    color: white;
}

.secNoTwo {
    background-image: url("https://ichef.bbci.co.uk/news/1024/cpsprodpb/A632/production/_111864524_2020-04-18t130112z_2061940609_rc217g9mtg9h_rtrmadp_3_health-coronavirus-vaccine-oxford.jpg.webp");
    background-size: 400px 250px;
    color: white;
}

.secOThree {
    background-image: url("https://ichef.bbci.co.uk/images/ic/1024xn/p08ngz84.jpg.webp");
    background-size: 400px 250px;
    color: white;
}

.secNoFour {
    background-image: url("https://ichef.bbci.co.uk/images/ic/1024xn/p08nkrfx.jpg.webp");
    background-size: 400px 250px;
    color: white;
}

.subsection > h3 {
    margin-top: 105px;
    margin-bottom: 7px;
    font-size: 26px;
    font-weight: 300;
}

h3.productivity {
    margin-top: 130px; 
}

.sideBlueSpan {
    padding-left: 15px;
    border-left: 4px solid #47a1d8;
}

.sideRedSpan {
    padding-left: 15px;
    border-left: 4px solid #e91901;
}

.sideGraySpan {
    padding-left: 15px;
    border-left: 4px solid #372e67;
}
/******************************************
/* BOTTOM SECTION
/*******************************************/
.image {
    width: 100%;
}

.bottomSection H3 {
    font-weight: 600;
    font-size: 28px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.bottomSection p {
    margin-top: 5px;
    font-size: 21px;
    font-weight: 200;
}

.bottomSection span {
    padding-left: 20px;
    border-left: 4px solid #e91901;
    font-weight: 200;
    font-size: 20px;
}

.NewsPart {
    font-size: 40px;
    padding-left: 20px;
    border-left: 4px solid #e91901; 
    padding-top: 0px;
    margin-bottom: 20px; 
    color: black;  
}

/******************************************
/* SECTIONS
/*******************************************/
.bottomSection {
    width: 32.8%;
    margin-left: 8px;
    float: left;
    margin-bottom: 300px;
    color: black;
}

.exception {
    margin-left: 0px;
}
.mainsection {
    width: 50%;
    height: 450px;
    float: left;
}

.subsection {
    width: 46%;
    height: 215px;
    float: left;
    margin: 10px;
    padding: 10px;
    margin-left: 15px;
    margin-top: 0;
    margin-bottom: 20px;
}